<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Refresh"
          content="0; url='{{siteUrl}}/latest'"/>
    <title>Bonita OpenAPI Documentation</title>
</head>
<body>
<h1>Bonita OpenAPI Documentation</h1>
<p>If you were not automatically redirected to the latest version of Bonita OpenAPI
    documentation, please follow this <a href="{{siteUrl}}/latest">link</a>
    !</p>
</body>
</html>
